.body-container {
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}


/* HEADER - NAVBAR*/

.header-container {
    display: flex;
    background: #222222;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    gap: 0 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1176px;
}

.nav {
    display: flex;
    align-items: center;
    display: inline;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
}

.sign {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}

.sign a {
    text-decoration: none;
    color: #FFFFFF;
}

.sign-up {
    display: flex;
    justify-content: center;
    min-width: 117px;
    min-height: 40px;
    background: #B2D235;
    border-radius: 20px;
}


/* LISTINGS SEARCH */

.search-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    min-height: 503px;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 585px;
    height: 224px;
    margin: 0 30px;
}

.label {
    font-weight: 600;
    font-size: 50px;
    max-width: 566px;
    max-height: 122px;
}

.input-bar {
    width: 541px;
    height: 70px;
    justify-content: space-between;
    display: flex;
    border-radius: 8px;
    background: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
}

.input-bar input {
    width: auto;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 16px;
}

.input-bar button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    margin: 5px 2px 4px 0px;
}

.input-bar img {
    margin-left: 30px;
}

.pretty-image {
    max-width: 710px;
    max-height: 430px;
    margin-right: 10px;
}


/* FUTURED LIST */

.listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.listing {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 0 10px;
}
.listing li {
    display: flex;
    align-items: center;
}
.image-swap {
    display: flex;
    align-items: center;
    background-image: url("assets/body/featured-list/forth-section/Oval.svg");
    background-size: cover;
    transition: background-image 0.05s ease-in-out;
    height: 11px;
    width: 11px;
}

.image-swap:hover {
    background-image: url("assets/body/featured-list/forth-section/Oval-green.svg");
    transform: scale(1.2);
}